.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .register-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .register-form input[type="email"],
  .register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .register-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #0073aa;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form button[type="submit"]:hover {
    background-color: #006187;
  }
  