.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-header h2 {
  margin: 0 auto;
}

.settings-form {
  display: fixed;
  width: 60%;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  width: 70%;
  height: 75%;
  background-color: #fff;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.overlay-header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.overlay-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  display: block;
  margin-bottom: 0.2rem;
}

form input {
  width: 100%;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

body {
  background-color: #97b0e4;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 42px;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.switch::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .switch {
  background-color: #0077FF;
}

input[type="checkbox"]:checked + .switch::before {
  transform: translateX(26px);
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.settings-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.settings-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.settings-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.settings-form input[type="email"],
.settings-form input[type="password"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.settings-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #0073aa;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings-form button[type="submit"]:hover {
  background-color: #006187;
}
